@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --font_family:  'Roboto', sans-serif;
  --main_color: #001C40;
  --main_bg: #FFD43B;
  --login_bg: #001C40;
  --white_bg:#ffffff;
  --onehundred_percent:100%;
  --black_color:#000;
  --back_bg:#000000;
  --margin_0:0px;
  --padding_0:0px;
  --none:none;
  --transparent:transparent;
  --font_14:14px;
  --font_13:13px;
  --font_15:15px;
  --font_17:17px;
  --font-22:22px;
  --nine-900:900;
  --center:center;
  --one_five:1.5;
  --radius_5px:.357rem;
  --vh_100:100vh;
  --h_45:45px;
  --auto:auto;
  --w_960px: 960px;
  --w_316:316px;
  --w_500: 500;
  --w300:300px;
  --flex-element:flex;
  --wrap-element:wrap;
  --radius_10:10px;
  --px_1:1px;
  --e_flex:flex;
  --shadow-form:1px 1px 10px #00000070;
  --hidden-element:hidden;
  --bg-cover:cover;
  --cursor_pointer:pointer;
  --p_wrap_login:100px 100px 50px 100px;
  --shadow_login:0px 0px 20px 0px #0000003b;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {
    height: var(--onehundred_percent);
  font-family: var(--font_family);
  background: var(--white_bg);
}
input {
	outline: var(--none);
	border: var(--none);
}

input:focus::-webkit-input-placeholder { color:var(--transparent); }
input:focus:-moz-placeholder { color:var(--transparent); }
input:focus::-moz-placeholder { color:var(--transparent); }
input:focus:-ms-input-placeholder { color:var(--transparent); }
textarea:focus::-webkit-input-placeholder { color:var(--transparent); }
textarea:focus:-moz-placeholder { color:var(--transparent); }
textarea:focus::-moz-placeholder { color:var(--transparent); }
textarea:focus:-ms-input-placeholder { color:var(--transparent); }
input::-webkit-input-placeholder { color: var(--black_color); }
input:-moz-placeholder { color: var(--black_color); }
input::-moz-placeholder { color: var(--black_color); }
input:-ms-input-placeholder { color: var(--black_color); }
textarea::-webkit-input-placeholder { color: var(--black_color); }
textarea:-moz-placeholder { color: var(--black_color); }
textarea::-moz-placeholder { color: var(--black_color); }
button {
	outline: var(--none) !important;
	border: var(--none);
	background: var(--transparent);
}
button:hover {
	cursor:var(--cursor_pointer);
}
.container-login {
    width: var(--onehundred_percent);
    min-height: var(--vh_100);
    display: var(--flex-element);
    justify-content: var(--center);
    align-items: var(--center);
    padding: var(--font_15);
    background: var(--login_bg);
    border-bottom-left-radius: var(--onehundred_percent);
    background-size: var(--bg-cover);
  }
.wrap {
width: var(--w_960px);
background: rgb(255, 255, 255);
border-radius: var(--radius_10);
overflow: hidden;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display:var(--e_flex);
flex-wrap: wrap;
justify-content: space-between;
padding: var(--p_wrap_login);
box-shadow: var(--shadow-form);
}

.login-pic {
    width: var(--w_316);
  }
.login-pic img {
max-width: 350px;
display: block;
margin-left: var(--auto);
margin-top: var(--auto);
margin-right: var(--auto);
}
.login-form {
    width: var(--w300);
  }
.login-form-title {
font-family: var(--font_family);
font-size: var(--font-22);
color: var(--black_color);
line-height: 1.9;
text-align: var(--center);
font-weight: 900;
width: var(--onehundred_percent);
display: block;
padding-bottom: 30px;

}
.input {
    font-family: var(--font_family);
    font-size: var(--font_15);
    line-height: 1.5;
    color: var(--back_bg);
    display: block;
    width: var(--onehundred_percent);
    background: #f5f5f5;
    height: var(--h_45);
    border-radius: .375rem;
    padding: 0 30px 0 68px;
    border: 1px solid #d4d4d4;
  }
  .input:active , .input:focus{
     background: var(--white_bg);
    border: var(--px_1) solid var(--main_bg) !important;
  }
  .bx {
    font-size: var(--font_17);
  }
  /*------------------------------------------------------------------
  [ Focus ]*/
  
  .symbol-input{
    font-size: var(--font_15);
    display: var(--flex-element);
    align-items: var(--center);
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: var(--onehundred_percent);
    height: var(--onehundred_percent);
    padding-left: 25px;
    pointer-events:var(--none);
    color: var(--black_color);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  .symbol-input i,.fas{
    color: var(--main_color) !important;
    font-size: 20px;
  }
  .container-login-form-btn {
    width: var(--onehundred_percent);
    display: var(--flex-element);
    flex-wrap:  var(--wrap-element);
    justify-content: var(--center);
    padding-top: 20px;
  }
  input[type=submit]{
    font-size: var(--font_15);
    background: linear-gradient(var(--back_bg) 5%, var(--back_bg) var(--onehundred_percent));
    border: var(--px_1) solid var(--back_bg);
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor:var(--cursor_pointer);
    width: var(--onehundred_percent);
    border-radius: var(--radius_5px);
    padding: 10px 0;
    outline:none;
    }
    input[type=button] {
      font-size: var(--font_17);
      background: var(--main_bg);
      border: var(--px_1) solid var(--main_bg);
      color: var(--black_color);
      font-weight: var(--w_500);
      cursor: var(--cursor_pointer);
      width: var(--onehundred_percent);
      border-radius: var(--radius_5px);
      padding: 10px 0;
      outline: var(--none);
      font-family: var(--font_family);
  }
  
  .login-form-btn {
    font-family: var(--font_family);
    font-size: var(--font_15);
    line-height: 1.5;
    color: var(--black_color);
    text-transform: uppercase;
    width: var(--onehundred_percent);
    height: 50px;
    border-radius: 25px;
    background: #0251b9;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: var(--flex-element);
    justify-content:var(--center);
    align-items: var(--center);
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  .login-form-btn a:hover {
    background: #333333;
  }
  /*------------------------------------------------------------------
  [ Responsive ]*/
  @media (max-width: 992px) {
    .wrap {
      padding: 177px 90px 33px 85px;
    }
  
    .login-pic {
      width: 35%;
    }
  
    .login-form {
      width: 50%;
    }
  }
  @media (max-width: 768px) {
    .wrap {
      padding: 50px 80px 33px 80px;
    }
  
    .login-pic {
      display: none;
    }
  
    .login-form {
      width: var(--onehundred_percent);
    }
  }
  
  @media (max-width: 576px) {
    .wrap {
      padding: 50px var(--font_15) 33px var(--font_15);
    }
  }
  
  .focus-input{
    padding-bottom: 10px;
  }
  /*------------------------------------------------------------------
  [ Alert validate ]*/
  
  .validate-input {
    position: relative;
  }
  .field-icon {
    float: right;
    margin-right: 15px;
    margin-top: -31px;
    position: relative;
    z-index: 2;
    font-size: 18px;
    color: var(--black_color);
  }
  .fa{
    color: var(--black_color);
  }
  .fas, .far{
    color: var(--black_color);
  }